NIJEL_JUROR_NUMBER=5000
NIJEL_COURT=Belfast
NIJEL_URL=https://www.justice-ni.gov.uk/articles/juryline-information

DISCORD_BOT_TOKEN=your-bot-token
DISCORD_CHANNEL_ID=your-channel-id

NIJEL_SCHEDULE=daily
RUN_ON_START=true
NIJEL_RUN_TIME=19:00
NIJEL_TIMEZONE=Europe/Belfast
